################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NerdStoreEnterprise/.vs
/NerdStoreEnterprise/src/building blocks/NSE.Core/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/building blocks/NSE.Core/obj
/NerdStoreEnterprise/src/services/NSE.Carrinho.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Carrinho.API/obj
/NerdStoreEnterprise/src/services/NSE.Catalogo.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Catalogo.API/obj
/NerdStoreEnterprise/src/services/NSE.Cliente.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Cliente.API/obj
/NerdStoreEnterprise/src/services/NSE.Identidade.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Identidade.API/obj
/NerdStoreEnterprise/src/services/NSE.Pagamento.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Pagamento.API/obj
/NerdStoreEnterprise/src/services/NSE.Pedido.API/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Pedido.API/obj
/NerdStoreEnterprise/src/web/NSE.WebApp.MVC/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/web/NSE.WebApp.MVC/obj
/NerdStoreEnterprise/src/building blocks/NSE.WebAPI.Core/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/building blocks/NSE.WebAPI.Core/obj
/NerdStoreEnterprise/src/building blocks/NSE.MessageBus/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/building blocks/NSE.MessageBus/obj
/NerdStoreEnterprise/src/api gateways/NSE.Bff.Compras/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/api gateways/NSE.Bff.Compras/obj
/NerdStoreEnterprise/src/services/NSE.Pedidos.Infra/obj
/NerdStoreEnterprise/src/services/NSE.Pedidos.Domain/bin/Debug/netcoreapp3.1
/NerdStoreEnterprise/src/services/NSE.Pedidos.Domain/obj
/NerdStoreEnterprise/src/services/NSE.Pedidos.Infra/bin/Debug/netcoreapp3.1
/8A1C9C9B-2814-4B40-9201-56B2866BDFF9-08 - Processo Pedido Completo
/8A1C9C9B-2814-4B40-9201-56B2866BDFF9-08 - Processo Pedido Completo.zip
